* {
    padding: 0;
    margin: 0;
    font-family: 'oswald', sans-serif;
}

.logo-js {
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.margin-right-2rem {
    margin-right: 2rem;
}

.js {
    margin: 0 3rem 0 3rem;
}

.background-oldLace {
    background-color: #FDF5E6;
}

.background-black {
    background-color: #212529;
}

.font-color-white {
    color: white
}

.tamanh-tecnologias {
    height: 700rem;
    width: 50rem;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.foto {
    height: 50vh;
    width: 45vh;
    border-radius: 50%;
}

.apresentação {
    margin-top: 20%;
    z-index: 2;
    position: relative;
    text-shadow: -1px -1px 0 #000,
        /* cima-esquerda */
        1px -1px 0 #000,
        /* cima-direita */
        -1px 1px 0 #000,
        /* baixo-esquerda */
        1px 1px 0 #000;
    /* baixo-direita */
}

.margin-bottom-2rem {
    margin-bottom: 2rem;
}

.margin-top-2rem {
    margin-top: 2rem;
}

.paddin-zero {
    padding: 0;
}

.icons-contatos {
    height: 4rem;
    width: 4rem;
    margin: 3rem;
}

.email-icon {
    height: 4.2rem;
    width: 4rem;
    margin: 3rem;
}

.margin-zero {
    margin: 0;
}

.certificados {
    width: 20rem;
    height: 10rem;
}


.text-center {
    text-align: center;
}

.text-justfiy {
    text-align: justify;
}


.imgs-tecnologias {
    height: 20rem;
    width: 18rem;
}

.ProStyle {
    width: 95%;
    height: 225;
    margin: 0.5rem;
    border-radius: 10px;
}

.justify-content-stretch {
    justify-content: stretch;
}

.parisback {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
    border-radius: 5px;
}

.container-tec:hover .overlay {
    opacity: 1;
}

.text-tec {
    color: black;
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}



@media (max-width: 600px) {
    .imgs-tecnologias-media {
        height: 20rem;
        width: 15rem;
    }
}

.paragrafoEmBaixoDaFoto {
    color: white;
    margin: 0;
    font-size: 25px;
}

.fotoPerfil {
    border: 2px black solid;
}

.logoTera {
    margin-top: 10px;
    margin-bottom: 20px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px #6610f2 solid;
}

.containerFooter {
    display: flex;
}

.container {
    margin-right: 5%;
    margin-left: 5%;
    width: 100%;
}



.icons {
    display: flex;
    justify-content: space-between;
}

.icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    justify-content: center;
    display: flex;
}